<div class="container">
  <h2>Profile Card with Flexbox</h2>
  <ul class="cards">
    <li class="card">
      <div>
        <img class="round" src="https://randomuser.me/api/portraits/women/8.jpg" alt="user" />
        <h3 class="card-title">Sarah Parker</h3>
        <div class="card-content">
          <p>User Interface Designer</p>
        </div>
      </div>
      <div class="buttons">
		<button class="primary">
			Message
		</button>
		<button class="primary ghost">
			Following
		</button>
	</div>
    </li>

     <li class="card">
      <div><img class="round" src="https://randomuser.me/api/portraits/women/44.jpg" alt="user" />
        <h3 class="card-title">Patricia Miller</h3>
        <div class="card-content">
          <p>Web Developer</p>
        </div>
      </div>
      <div class="buttons">
		<button class="primary">
			Message
		</button>
		<button class="primary ghost">
			Following
		</button>
	</div>
    </li>
     <li class="card">
      <div>
        <img class="round" src="https://randomuser.me/api/portraits/men/41.jpg" alt="user" />
        <h3 class="card-title">Justin Knott</h3>
        <div class="card-content">
          <p>Front-End Developer</p>
        </div>
      </div>
      <div class="buttons">
		<button class="primary">
			Message
		</button>
		<button class="primary ghost">
			Following
		</button>
	</div>
    </li>
     <li class="card">
      <div>
        <img class="round" src="https://randomuser.me/api/portraits/men/9.jpg" alt="user" />
        <h3 class="card-title">John Moss</h3>
        <div class="card-content">
          <p>Web Developer</p>
        </div>
      </div>
      <div class="buttons">
		<button class="primary">
			Message
		</button>
		<button class="primary ghost">
			Following
		</button>
	</div>
    </li>
  </ul>
</div>
