
<div class="container">
  <div id="formulario" class="form-group"><h1>Añadir contacto</h1><h2></h2>
    Nombre <input id="nombre" class="form-control input-lg" >
    Apellidos<input id="apellidos" class="form-control input-lg">
    Fecha de nacimiento<input type="date" id="fecha" class="form-control input-lg" step="1" min="1900-01-01" max="2020-12-31" value="2000-01-01"><br>
    Teléfono<input id="telefono" class="form-control input-lg"><br>
    <button class="btn btn-primary" id="enviar">Agregar</button></div>
    <div id="tablas" class="form-group"><br></div>
</div>

